---
title: Release Notes for Neo4j Enterprise for PCF (PKS)
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Neo4j Enterprise for PCF (PKS).

##<a id="ver"></a> v3.5.7

**Release Date:** July 12, 2019

Features included in this release:

* Initial open beta release
