---
title: Release Notes for Neo4j on PKS
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Neo4j on PKS.

##<a id="ver"></a> v3.5.7

**Release Date:** July 4, 2019 (Ex. October 1, 2017)

Features included in this release:

* Initial release

Fixed issues in this release:

* N/A

**When you have fixed issue, you should have a corresponding known issue in the release below.**

Known issues in this release:

* N/A
